[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-telegram-bot = "*"
telethon = "*"
cachetools = "*"
certifi = "*"
pyaes = "*"
pyasn1 = "*"
pytz = "*"
pytz-deprecation-shim = "*"
rsa = "*"
six = "*"
tornado = "*"
tzdata = "*"
tzlocal = "*"
apscheduler = "*"
ffmpeg = "*"
backports-zoneinfo = "*"

[requires]
python_version = "3.8"
